#include <windows.h>
#include "resource.h"

STRINGTABLE
BEGIN 
    ID_FILE_OPEN, "Ouvrir..."
    ID_FILE_PRINT, "Imprimer..."
    ID_IMAGE_PREV, "Page Précédente"
    ID_IMAGE_NEXT, "Page Suivante"
    ID_HELP_ABOUT, "A propos..."
    IDS_UNTITLED, "Very Large Image Viewer"
    IDS_TITLED, "Very Large Image Viewer : %s"
    IDS_REGISTERED_TO, "Enregistré pour : %s"
    IDS_SUCCESSFULLY_LOADED, "%s chargé avec succès"
    IDS_CANNOT_LOAD, "%s ne peut etre chargé"
    IDS_CANNOT_LOADTILE, "La tuile %dx%d ne peut etre chargée"
    IDS_TILES_INFO "%dx%d tuiles (%dx%d pixels)"
    IDS_STRIPS_INFO "%d bande%s de %d pixel%s"
    IDS_IMAGE_NOT_TILED "L'image n'est pas tuilée"
    IDS_SINGLE_IMAGE "Image simple"
    IDS_PRINTING "Impression de la tuile %d sur %d (page %d sur %d)"
    IDS_RECENT_MENU "Fichiers récents"
    IDS_PAGE "Page %d/%d (%s)"
    IDS_FULL_RESOLUTION "Pleine Résolution"
    IDS_REDUCED_RESOLUTION "Résolution Réduite"
    IDS_SINGLE_PAGE "Page simple"
    IDS_VIRTUAL_RESOLUTION "Résolution Virtuelle"
    ID_TOOLS_CLIPBOARD "Copier la vue dans le Clipboard"
    ID_TOOLS_FULLSCREEN "Plein Ecran"
    ID_TOOLS_EXPORTBMP "Exporter la vue vers un fichier BMP..."
	IDS_IMAGE_WIDTH "%dx%d pixels"
	IDS_IMAGE_WIDTH_GIGA "%dx%d pixels (%.1f gigapixels)"
END

VLIVMENU MENU
BEGIN
	POPUP "&Fichier"	
	BEGIN
		MENUITEM "Ouvrir...\tCtrl+O",             ID_FILE_OPEN
		MENUITEM SEPARATOR
		MENUITEM "Imprimer...",                    ID_FILE_PRINT, GRAYED	
		MENUITEM SEPARATOR
		POPUP "Fichiers récents"                    GRAYED
		BEGIN
			MENUITEM "Vide",               ID_FILE_RECENT
		END
		MENUITEM SEPARATOR
		MENUITEM "&Quitter",                       ID_FILE_EXIT
	END
    POPUP "&Image"
    BEGIN
 		MENUITEM "Première Page\tCtrl+F",          ID_IMAGE_FIRST, GRAYED
        MENUITEM "Page Précédente\tCtrl+P",       ID_IMAGE_PREV, GRAYED
        MENUITEM "Page Suivante\tCtrl+N",           ID_IMAGE_NEXT, GRAYED
        MENUITEM "Dernière Page\tCtrl+L",           ID_IMAGE_LAST, GRAYED
    END
    POPUP "&Outils"
    BEGIN
	MENUITEM "Vider la liste des fichiers récents"       ID_TOOLS_CLEAR
	MENUITEM "Plein écran\tEnter"            ID_TOOLS_FULLSCREEN
        MENUITEM SEPARATOR
	MENUITEM "Enregistrer..."                  ID_TOOLS_REGISTER
        MENUITEM SEPARATOR
	MENUITEM "Exporter la vue vers un fichier BMP..." ID_TOOLS_EXPORTBMP, GRAYED
	MENUITEM "Copier la vue dans le Clipboard\tCtrl+C" ID_TOOLS_CLIPBOARD, GRAYED
    END
     POPUP "&Aide"
    BEGIN
        MENUITEM "Crédits...",                  ID_HELP_CREDITS
        MENUITEM SEPARATOR
        MENUITEM "A propos...",                    ID_HELP_ABOUT
    END
END

ABOUTDLG DIALOGEX 0, 0, 186, 94
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,68,75,50,14
    CTEXT           "Vliv 2.5.3",IDC_VERSION,6,14,180,8
    CTEXT           "(c) 2003-2022, Frédéric Delhoume",4,6,45,180,8
    CTEXT           "http://vlivviewer.free.fr/vliv.htm",IDC_HYPERLINK,6,58,180,8
END

CREDITSDLG DIALOGEX 0, 0, 240, 254
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,92,236,50,14
    LTEXT     	    "", IDC_STATIC, 10, 10, 220, 226
END

REGISTERDLG DIALOGEX 0, 0, 200, 90
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Enregistrer Vliv"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,50,70,48,14
    PUSHBUTTON      "Annuler",IDCANCEL,104,70,48,14
    LTEXT           "&Nom",IDC_STATIC,18,4,44,8
    EDITTEXT        IDC_NAME,18,16,158,12,ES_AUTOHSCROLL,WS_EX_CLIENTEDGE
    LTEXT           "&Licence",IDC_STATIC2,18,35,50,8
    EDITTEXT        IDC_KEY,18,47,158,12,ES_AUTOHSCROLL,WS_EX_CLIENTEDGE
END

ABORTDLG DIALOGEX 0, 0, 188, 90 
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP
FONT 8, "MS Sans Serif"
BEGIN 
    CTEXT "Initialisation...", IDD_PROGTEXT, 10,23,180,8 
    DEFPUSHBUTTON "Annuler", IDD_CANCEL, 67,63,50,14
END 
